<div class = "container">
  <div class= "header fixed-top, form-inline">
        <h4>提案者:<%= @task.user&.name %></h4>
        <h4><%= @task.name %></h4>
        <div class= "header-right">
          <%= link_to "sing-top", root_path %>
          <%= link_to "home", dig_home_dighome_path %>
          <%= link_to "sing_up", new_user_registration_path, class: "sing_css" %>
        </div>
  </div>
  
  <div class= "header fixed-top, form-inline">
      <%= form_with model: @comment, url: task_chat_rooms_path(@task), local: true do |form| %>
        <%= form.label :name, 'コメント入力' %>
        <%= form.text_field :content %>
        <%= form.file_field :image %>
        <%= form.submit "下に送信" %>
      <% end %>  
  </div>
</div>