<div class="chat-wrapper">
  <div class="chat-nav">
    <h3><%= link_to "提案者　工程作成ページへ", tasks_path, class: "btn btn-primary" %></h3>
    <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
    <li><%= link_to "home", dig_home_dighome_path %></li>         
    <li><%= link_to "sing_up", new_user_registration_path %></li>
  </div>
  <div class= "chat-name">
        <h4>提案者:<%= @task.user&.name %>&emsp;&emsp;<%= @task.name %></h4>
  </div>
    
  <div class= "chat-coment">
      <%= form_with model: @comment, url: task_chat_rooms_path(@task), local: true do |form| %>
        <%= form.label :name, 'コメント入力' %>
        <%= form.text_field :content %>
        <%= form.file_field :image %>
        <%= form.submit "下に送信" %>
      <% end %>  
  </div>
</div>