<div class = seach-itiran>
  <h1>みんなのやりたい事一覧</h1>
  <%= form_with url: users_path,method: :get, local: true do |f| %>
    <%= f.label :name, '検索したいユーザー名' %>
    <%= f.text_field :name %>
    <%= f.submit "送信" %>
  <% end %>

  <div class= "seach-users">  
      <ul>
        <% @users.each do |user| %>
          <div class= "minna-name">
            <%= gravatar_for user, size: 50 %>
            <p><%= user.name %></p><br>
          </div>  
            <% if user.tasks.todo.any? %>
              <% user.tasks.todo.each do |task| %>
                <div class="seach">              
                  やりたい事: <%= task.name %><br>
                  <%= link_to "チャットルームへ", task_chat_rooms_path(task), class: "btn btn-primary" %>
                  <%= link_to "工程ページへ", tasks_path, class: "btn btn-primary" %><br>
                </div>
              <% end %>
            <% end %>
        <% end %>
      </ul>
  </div>  
</div>