<% @users.each do |user| %>
  <%= if @menbers == @menber %>
    <% @tasks.each do |task| %>
      <li>
        <%= gravatar_for user, size: 50 %>
        <%= @menber %><%= task.name %>
        <%= link_to "チャットルームへ", "#", class: "btn btn-primary" %>
        <%= link_to "工程ページへ", "#", class: "btn btn-primary" %>
      </li>
   <% end %>
  <% end %>
<% end %>