<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>

<head>
    <title>DigUp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

  <body>
        <header>
            <nav>
                <% if user_signed_in? %>
                <strong><%= link_to current_user.name, users_path %></strong> 
                <%= link_to 'プロフィール変更', edit_user_registration_path %>
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
            <% else %>
                <% end %>
            </nav>
        </header> 
     <%= render "layouts/header" %>
     <%#= render "layouts/flash" %>
     <div id="modalArea"></div>
     <main>
      <div class="container-fruid h-100 p-2 d-flex flex-column">
          <%= yield %>
       </div>
     </main>
     <%#= render "layouts/footer" %>
  </body>
</html>
